:root {
  --blue: #0a6ebd;
  --bg: #e0e0e0;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  min-height: 2500px;
}

/* Hero */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(1, 34, 67, 0.735), rgba(0, 0, 0, 0.7)),
    url(image/background.JPG);
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h1,
.hero h3,
.hero h4,
.hero h5,
.hero p {
  text-shadow: var(--shadow);
}

.hero h1 {
  font-family: "Meow Script", cursive;
  font-size: 6rem;
}

.hero h3 {
  font-weight: 600;
}

.hero h4 {
  letter-spacing: 0.8rem;
  font-size: 1rem;
}

.hero p {
  font-weight: 600;
}

.hero .date {
  letter-spacing: 1rem;
}

.hero a {
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: var(--blue);
  background-color: white;
  box-shadow: var(--shadow);
}

.hero a:hover {
  color: white;
  background-color: var(--blue);
}
/* Hero */

/* Navbar */
.mynavbar {
  background-color: rgba(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(3px);
}

/* .mynavbar .offcanvas {
  height: 100vh;
} */

.mynavbar .navbar-brand {
  font-family: "Sacramento", cursive;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--blue);
}

.mynavbar .nav-link {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
}

.mynavbar .nav-link:hover {
  color: var(--blue);
}

/* Navbar */

/* Home */
.home {
  background-image: url(image/bg2.png);
  /* min-height: 100vh; */
  margin-top: -5.2rem;
  padding-top: 7.5rem;
  padding-bottom: 5rem;
  background-size: cover;
  background-position: center;
}

.home h2 {
  color: var(--blue);
  font-family: "Vibur", cursive;
  font-size: 4rem;
  font-weight: 500;
}

.home h3 {
  color: #21202d;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.home .couple {
  margin-top: 50px;
}

.home .couple .row {
  margin-bottom: 50px;
}

.home .couple h3 {
  font-family: "Sacramento", cursive;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--blue);
}

.home .couple img {
  width: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.home .heart {
  color: #f6358a;
  position: absolute;
  left: 50%;
  transform: translateY(60px) translateX(-5.2%);
  -webkit-transform: translateY(60px) translateX(-5.2%);
  -moz-transform: translateY(60px) translateX(-5.2%);
  -ms-transform: translateY(60px) translateX(-5.2%);
  -o-transform: translateY(60px) translateX(-5.2%);
}

.home .heart i {
  font-size: 3rem;
}
/* Home */

/* Info */
.info {
  background-color: var(--bg);
  /* min-height: 100vh; */
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.info h2 {
  font-family: "Vibur", cursive;
  color: var(--blue);
  font-size: 4rem;
  font-weight: 500;
}

.info h5 {
  margin-top: 2rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.info a {
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.info .card-akad {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: var(--bg);
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.info .card-akad h3 {
  font-family: "Sacramento", cursive;
  color: var(--blue);
  font-size: 2.5rem;
  font-weight: 600;
}

/* .info iframe {
  width: 100%;
  height: 350px;
} */
/* Info */

/* Story */
.story {
  background-image: url(image/bg2.png);
  /* min-height: 100vh; */
  padding-top: 7.5rem;
  padding-bottom: 5rem;
  background-size: cover;
  background-position: center;
}

.story h2 {
  font-family: "Vibur", cursive;
  color: var(--blue);
  font-size: 4rem;
  font-weight: 500;
}

.story span {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.story h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.story h4 {
  color: var(--blue);
  font-weight: 600;
}

.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: #ccc;
  left: 50%;
}

.timeline li {
  margin-bottom: 4rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #ccc;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
}

.timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  top: 80px;
  right: -15px;
}

.timeline li .timeline-panel::after {
  content: "";
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}
/* Story */

/* Gallery */
.gallery {
  background-color: var(--bg);
  padding-top: 7.5rem;
  padding-bottom: 5rem;
}

.gallery h2 {
  font-family: "Vibur", cursive;
  color: var(--blue);
  font-size: 4rem;
  font-weight: 500;
}

.gallery span {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.gallery h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.gallery .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: auto;
  height: 400px;
  border-radius: 15px;
  margin-right: 0.8rem;
}

.gallery .card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

/* Carousel */
.owl-theme .owl-controls {
  margin-top: 30px;
}

.owl-theme .owl-controls .owl-buttons div {
  opacity: 0.8;
  background: #fff;
}

.owl-prev:before,
.owl-next:before {
  content: "\f053";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 19px;
  color: var(--blue);
}

.owl-next:before {
  content: "\f054";
}
/* Carousel */

/* Gallery */

/* Rsvp */
.rsvp {
  padding-top: 10rem;
  padding-bottom: 8rem;
  background-color: #040d12;
}

.rsvp h2 {
  font-family: "Vibur", cursive;
  color: var(--blue);
  font-size: 4rem;
  font-weight: 500;
}

.rsvp p {
  font-size: 1rem;
  font-weight: 300;
  color: white;
}

.rsvp form label {
  color: white;
}

.rsvp button {
  background-color: var(--blue);
  color: white;
  border: 1px solid var(--blue);
}

.rsvp button:hover {
  background-color: white;
  color: var(--blue);
  border: 1px solid white;
}
/* Rsvp */

/* Gift */
.gifts h2 {
  font-family: "Vibur", cursive;
  color: var(--blue);
  font-size: 4rem;
  font-weight: 500;
}

.gifts {
  background-color: var(--bg);
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.gifts span {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.gifts h5 {
  font-size: 1.2rem;
  margin-bottom: 4rem;
}

.gifts .card-hadiah {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: var(--bg);
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
/* Gift */

/* Filter */
.filter h2 {
  font-family: "Vibur", cursive;
  color: var(--blue);
  font-size: 4rem;
  font-weight: 500;
}

.filter {
  background-color: var(--bg);
  padding-top: 3rem;
  padding-bottom: 7.5rem;
}

.filter h5 {
  font-size: 1.2rem;
  margin-bottom: 4rem;
}

.filter .card-hadiah {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: var(--bg);
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.filter a {
  letter-spacing: 0.1rem;
}

.filter img {
  width: 270px;
  padding-bottom: 1rem;
}

@media screen and (max-width: 475px) {
  .filter img {
    width: 100px;
  }
}
/* Filter */

/* Footer */
.footer {
  padding-top: 40px;
  padding-bottom: 25px;
  background-color: #040d12;
  color: #fff;
}

.footer i img {
  width: auto;
  height: 75px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 475px) {
  .footer i img {
    width: auto;
    height: 50px;
  }
}
/* Footer */

/* Audio */
.audio-icon-wrapper {
  width: 2rem;
  height: 2rem;
  font-size: 2.5rem;
  position: fixed;
  bottom: 5.2rem;
  left: 3.1rem;
  cursor: pointer;
  color: var(--blue);
  animation: rotating 5s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
/* Audio */

/* ?Custom Scroll */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 8px;
}
/* ?Custom Scroll */

/* !Scroll Top */
.scrolltop {
  position: fixed;
  cursor: pointer;
  bottom: 4.8rem;
  right: 3rem;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  visibility: hidden;
  opacity: 0;
}

.scrolltop.active {
  visibility: visible;
  opacity: 1;
}

.scrolltop i {
  font-size: 2.5rem;
  color: var(--blue);
}

.scrolltop:hover i {
  color: #30a5ff;
}
/* !Scroll Top */

/* Media Query */

@media screen and (max-width: 1200px) {
  .home .heart {
    color: #f6358a;
    position: absolute;
    left: 50%;
    transform: translateY(55px) translateX(-5%);
    -webkit-transform: translateY(55px) translateX(-5%);
    -moz-transform: translateY(55px) translateX(-5%);
    -ms-transform: translateY(55px) translateX(-5%);
    -o-transform: translateY(55px) translateX(-5%);
  }

  .home .heart i {
    font-size: 2rem;
  }
}

/* ?Laptop */
@media screen and (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .home .heart {
    display: none;
  }

  .timeline::before {
    left: 60px;
  }

  .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }

  .timeline li .timeline-panel {
    width: calc((100% - 200px));
    float: right;
  }

  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }
}

/* ?Tablet */
@media screen and (max-width: 768px) {
  html {
    font-size: 70%;
  }

  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }

  .mynavbar .nav-link {
    font-size: 1.3rem;
    text-align: center;
  }

  .sticky-top {
    overflow: hidden;
  }

  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }
}

/* ?Mobile Phone */
@media screen and (max-width: 475px) {
  html {
    font-size: 65%;
  }

  .home,
  .info {
    padding-top: 12rem;
  }

  .timeline li .timeline-image {
    width: 80px;
    height: 80px;
  }

  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-20px);
  }

  .timeline li .timeline-panel::before {
    top: 30px;
  }

  .timeline li .timeline-panel::after {
    top: 31px;
  }
}

/* Media Query */
