.simply-countdown {
  overflow: hidden;
  display: table;
  font-family: "Nunito Sans", sans-serif;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.simply-countdown > .simply-section {
  width: 50px;
  height: 50px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 10px;
  background: #0a6fbdb2;
  /* background: #ff78a3; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 1rem;
  font-weight: 600;
}

/* Media Query */

/* ?Laptop */
@media screen and (max-width: 992px) {
  .simply-countdown > .simply-section {
    padding: 50px;
    margin: 7px;
  }
}

/* ?Tablet */
@media screen and (max-width: 768px) {
  .simply-countdown > .simply-section {
    padding: 40px;
    margin: 6px;
  }
}

/* ?Mobile Phone */
@media screen and (max-width: 475px) {
  .simply-countdown > .simply-section {
    padding: 35px;
    margin: 5px;
  }
}

/* Media Query */
